extends ../../_component/layout/template

block cool-config
  -
    var myTitle = 'Learn To use CSS Borders';
    var myDescription = 'Small description of Borders;
    var landingPage = 'CSS';
    var activeLink = '/css/borders';
block awesome-content
  h1=myTitle
  p=myDescription