extends ../../_component/layout/template

block cool-config
  -
    var myTitle = 'Learn To use CSS Borders';
    var myDescription = 'Small description of Borders';
    var landingPage = 'CSS';
    var activeLink = '/css/borders';
block awesome-content
  h1=myTitle
  p=myDescription
  br
  br
  br
  h3 this text has no border
  div(style="border: 4px solid red")
    h1(style="color:blue") Blue Text with RED Border and 4px border
    p I just added this text