extends ../../_component/layout/template

block cool-config
  -
    var myTitle = 'JavaScript is using comments';
    var myDescription = 'JavaScript is undenstandible when you have comments;
    var landingPage = 'JavaScript';
    var activeLink = '/javascript/comments';
block awesome-content
  h1=myTitle
  p=myDescription
  p hello