extends ../../_component/layout/template

block cool-config
  -
    var myTitle = 'I do not know how operators work';
    var myDescription = 'here is the description of operators';
    var landingPage = 'JavaScript';
    var activeLink = '/javascript/operators';
block awesome-content
  h1=myTitle
  p=myDescription
  p The + operator concatenates (adds) strings.
  p so if i have more variables text and we concatenate them, we might make a sentece.
