extends ../../_component/layout/template

block cool-config
  -
    var myTitle = 'A JavaScript variable';
    var myDescription = 'the description of the variable of the JavaScript';
    var landingPage = 'JavaScript';
    var activeLink = '/javascript/variables';
block awesome-content
  h1=myTitle
  p=myDescription