doctype html
html
  block cool-config
  head
    title=myTitle
    meta(name="description", content="myDescription")
    link(rel="stylesheet",href="style.css")
    if config.entry.css.embed
      link(rel="stylesheet" href=`${embedPath}` inline)
  body
    include ../header/header 
    // deci punctele alea doua urmate de slash inseamna "up one folder"
    article
      block awesome-content
    include ../nav/nav.pug 
    // nu conteaza daca este cu punct pug sau fara.
    include ../footer/footer 
    // pug oricum cauta un fisier punct pug.
