doctype html
html
  block cool-config
  head
    title=myTitle
    meta(name="description", content="myDescription")
    //- pentru exterior
    link(rel="stylesheet",href=`${baseUrl}style.css`) 
    //- pentru interior
    //- if config.entry.css.embed
    //-   link(rel="stylesheet" href=`${embedPath}` embed)
  body
    include ../header/header 
    // deci punctele alea doua urmate de slash inseamna "up one folder"
    article
      block awesome-content
    include ../nav/nav.pug 
    // nu conteaza daca este cu punct pug sau fara.
    include ../footer/footer 
    // pug oricum cauta un fisier punct pug.
