extends ../_component/layout/template

block cool-config
  -
    var myTitle='Master the CSS for more style';
    var myDescription='CSS will make your page alive';
    var landingPage='CSS';
    var activeLink='';

block awesome-content
  h1=myTitle
  p=myDescription
  h2 CSS Colors
  p Colors in CSS are most often specified by:
  ul
    li a valid color name
    li an RGB value
    li a HEX value
  h2 CSS Backgrounds
  p The CSS Backgrounds properties are used to define the background effect for elements.
  h2 CSS Borders
  p The CSS Borders properties allow you to specify the style, width, and color of an element.