extends _component/layout/template

block cool-config
  -
    var myTitle='Learn to code HTML, CSS and JaveScript';
    var myDescription='This is a HTML replica of W3schools.com"';
    var landingPage='Home';
    var activeLink='';
    var baseUrl = "https://pavelciupitu.github.io/w3school-replica";


block awesome-content
  h1 This is a replica of w3schools.com
  p his HTML tutorial contains hundreds of HTML examples.
  h2 HTML
  p The language of buiding WEB pages.#[a(href=`${baseUrl}/html`) Check it out!]
  h2 CSS
  p The language of styling WEB pages.#[a(href=`${baseUrl}/css`) Make it hapening!]
  h2 JavaScript
  p The language of programming WEB pages.#[a(href=`${baseUrl}/javascript`) Discover the way up!]
  p This text is added to see if the last commit it's working after deploy.